/* General Styling */
body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #007bff;
}

.card {
  margin: 20px 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#login-link {
  font-weight: bold;
}

footer a {
  color: #ffffff;
  transition: color 0.3s;
}

footer a:hover {
  color: #00aced;
}
